
/src/generated/

/src/generated/prisma

.env
.env.*

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
out/

*.tsbuildinfo

prisma/migrations/
prisma/*.db
prisma/*.db-journal

logs/
*.log

.vscode/
!.vscode/extensions.json

.cache/
.tmp/
.temp/
